.container {
    width: 50%;
  }
  
  .form-group {
    position: relative;
    height: 50px;
    z-index: 1;
  }
  
  .form-control {
    resize: none;
    height: 100px;
    width: 400px;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  .form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  
  .dropdown {
    position: absolute;
    z-index: 1;
    width: 300px;
    top: 105px;
  }
  
  .dropdown-menu {
    top: 100%;
    left: 0;
    margin-top: 4px;
    display: block;
    position: static;
    margin: 0;
    padding: 0;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    max-height: 250px;
    overflow-y: auto;
    width: 100%;
  }
  
  .dropdown-item {
    display: block;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
  }
  
  .dropdown-item.active, .dropdown-item:focus {
    color: #fff;
    text-decoration: none;
    background-color: #007bff;
  }
  
  .show .dropdown-menu {
    display: block;
  }
  
  .active {
    background-color: #f0f0f0;
  }
  
  .dropdown-item:focus, .dropdown-item:hover {
    color: #fff;
    text-decoration: none;
    background-color: #007bff;
  }

  .clear-button {
  background-color: #ccc;
  border: none;
  color: #fff;
  padding: 10px;
  margin-left: 10px;
  cursor: pointer;
}

.clear-button:hover {
  background-color: #aaa;
}

  